.main{
    h2{
        font-size: 3em;
        margin-bottom: 1em;
        text-align: center;
        margin-top: 1em;
    }
    .cuadros{
        display: flex;
        text-align: center;
        flex-direction: column;
        transition: all 1s;
        .imgCuadros{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 5px;
            .imgindex{
                width: 100%;
            }
        }
        .cards{
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 2em;
            .card-title{
                margin-top: .5em;
            }
            .comprarBtn{
                background-color: #F7989E;
                color: white;
                transition: all .2s;
                overflow: hidden;
                padding: .2em 1.3em;
                margin-bottom: .5em;
                border: none;
                &:hover{
                    transform: translateY(-5px);
                }
                a{
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }
}